* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: blue;
}
.box {
    margin: auto; 
    background: white;
    margin-top: 100px;
    width: 19rem;
    border-radius: 12px;
    display: none;
}
.box h3 {
    text-align: center;
    padding-top: 20px;
}
.box h4 {
    text-align: center;
    padding-top: 5px;
}
.green {
    background: greenyellow;
    padding: 7px 14px;
    border: none;
    border-radius: 20px;
    margin: 0 5px;
}
.blue {
    background: blue;
    padding: 7px 16px;
    border: none;
    border-radius: 20px;
    margin: 0 5px;
}
.yellow {
    background: yellow;
    padding: 7px 16px;
    border: none;
    border-radius: 20px;
    margin: 0 5px;
}
.close {
    background: red;
    border: none;
    padding: 6px 6px;
    border-radius: 12px 0px 0px;
}
.btns {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.open {
    background: white;
    padding: 8px 16px;
    border: none;
    border-radius: 0px 0px 12px;
}
.green:focus, .blue:focus, .yellow:focus, .close:hover, .open:focus { background: #ddd; }
.toast {
    padding-top: 5px;
}
.toast .green_t {
    margin: auto;
    background: #ddd;
    text-align: center;
    font-size: 10px;
    padding: 3px 5rem;
    display: none;
    
}
.toast .blue_t {
    margin: auto;
    background: #ddd;
    text-align: center;
    font-size: 10px;
    padding: 3px 5rem;
    display: none;
}
.toast .yellow_t {
    margin: auto;
    background: #ddd;
    text-align: center;
    font-size: 10px;
    padding: 3px 5rem;
    display: none;
}